<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
</hudson>